@import '_colors.scss';
@import '_fonts.scss';
@import '_urls.scss';
@import '_mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Raleway');

// Your CSS/SCSS below this line

$debug: false; // Debug mode boolean

* {
  @if ($debug) {
    border: 1px solid red;
  }
}

.content-box {
  background-color: $white;
}
.img-responsive {
  width: 100%;
  margin-bottom: 20px;

}

p {
  color: $teal;
}

.date {
  margin-bottom: 20px;
}

h1, h3 {
  text-align: center;
  color: $green;
}


body {
	font-family: $font_0, $font_1, $font_2;
  text-align: center;
  background-color: $green;
}

@for $i from 1 through 6 { // Loop that sets the font face for all headings
  h#{7 - $i} {
    font-family: $font_3, $font_4, $font_5;
  }
}

a {
  color: $green;
}

a:hover {
  color: $light-green;
}

.card-title {
  text-align: center;
}

.card-text {
  color: $blue;
}

#carouselExampleIndicators {
  margin-bottom: 20px;
}
